.result_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result_item {
    margin: 20px 0px;
    background-color: #242424;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.description {
    
}


.result_item img {
    height: 150px;
}


.movie_name {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.movie_match {
    color: #46d369;
    font-size: 15px;
}