.searchbar {
    background-color: black;
    border: 1px solid white;
}

.searchbar-text-input {
    font-size: 20px;
    background-color: black;
    color: white;
    outline-width: 0;
    border: 1px solid white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.searchbar-list__container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.searchbar-list__item {
    padding: 10px;
}

.searchbar-list__item:hover {
    background-color: #141414;
}

.searchbar-list__item a {
    color: white;
    text-decoration: none;
}